[Desktop Entry]
Name=Panda Rounded Theme
X-KDE-PluginInfo-Author=Panda Rounded Theme
X-KDE-PluginInfo-Email=sato.du@gmail.com
X-KDE-PluginInfo-Name=Panda-Rounded-Theme
X-KDE-PluginInfo-Version=20260610
X-KDE-PluginInfo-Website=https://github.com/satodu/kde-panda-rounded-theme
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[AdaptiveTransparency]
enabled=true
